<div class="background">


<div class="text-center">
  <div class="user-from py-5 w-25 mx-auto">
    <h2 class="mb-4">Please Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email address', class: 'form-control', id: 'inputEmail' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control', id: 'inputPassword' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field text-left mt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions my-3">
        <%= f.button "Sign in", type: 'submit', class: 'btn btn-lg btn-primary btn-bloc w-100 field' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

</div>
